<!doctype html>
<html>
<head>
    <title>Enter Info</title>
</head>

<body>

  <form action="/student-add" method="POST">
      <label>Enter First Name
          <input type="text" name="first">
      </label>
      <br>
      <label>Enter Last Name
          <input type="text" name="last">
      </label>
      <br>
      <label>Enter GitHub username
          <input type="text" name="github">
      </label>
      <br>
      <input type="submit" value="Display Student">
  </form>



</body>
</html>